################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
Build/
/ExplorerBgTool/x64
/Release_x64.zip
/ReadMe.url
**/Debug/**
**/Relese/**
*.dll